body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
  min-height: 100vh;        /* ocupa toda la altura de la ventana */
  text-align: center;       /* centra el texto dentro */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

ul {
  list-style: none; 
}

.todo-item.completed span {
  text-decoration: line-through;
}
